/*VARIABLES*/
.tnormal {
	font-weight: 400;
}
.tlight {
	font-weight: 300;
}
.tbold {
	font-weight: bolder;
}
.border {
	border-style: solid;
	border-color: #d6d6d6;
}
.clear {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	background: url(../images/bkg.jpg) repeat-x;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	font-family: 'Signika Negative', sans-serif;
}
#loginconteiner {
	width: 900px;
	margin: auto;
	overflow: hidden;
}
#headlogin {
	width: 430px;
	height: 185px;
	background: url(../images/loginlogo.png) no-repeat center;
	position: absolute;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
#loginform {
	width: 725px;
	height: 455px;
	overflow: hidden;
	background: url(../images/loginventana.png) no-repeat center;
	margin: 115px auto 0 auto;
}
#loginform h1{
	color:#fff;
	width:150px;
	float:right;
	padding-top:5px;
	font-weight:normal;
}
#loginform h2 {
	font-size: 29px;
	font-weight: bolder;
	color: #fff;
	float: right;
	margin: 25px 60px 0 0;
}
#loginform h3 {
	font-size: 26px;
	font-weight: 300;
	margin: 20px 0;
	color: #494949;
}
#loginform form {
	width: 515px;
	height: 276px;
	margin: 140px 30px 0 auto;
	text-align:right;
	font-size:30px;
}
#loginform label{
	font-weight:normal !important;
	margin-bottom:10px;
}
#signin_username, #signin_password{
	width:210px;
	height:20px;
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
#loginform ul{
	margin:0;
	padding:0;
	color:red;
	font-size:14px;
	position:relative;
	bottom:30px;
	right:85px;
}
#loginform li{
	margin:0;
	padding:0;
}
#btn_login{
	width:110px;
	height:30px;
	border:none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin:25px 140px 0 0 !important;
	background-color:#1f6179;
	color:#fff;
	font-weight:bold;
	font-size:15px;
}
#loginform input{
	margin:10px 0 20px 30px;
}
#signin_remember{
	width:25px;
	height:25px;
	margin-right:90px !important;
}
.logtext {
	width: 480px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	color: #494949;
	border: 0;
	font-size: 20px;
}
.logbtn {
	clear: both;
	float: right;
	width: 135px;
	height: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #1f6179;
	font-size: 26px;
	color: #fff;
	border: 0;
	margin-top: 30px;
}
#foot {
	width: 100%;
	height: 40px;
	background: url(../images/foot.jpg) repeat-x;
	overflow: hidden;
	margin: 45px 0 0 -8px;
	padding-right: 16px;
}
#header {
	width: 900px;
	height: 75px;
	overflow: visible;
	margin: auto;
}
#header h1 {
	font-family: times new roman;
	font-size: 65px;
	width: 360px;
	margin: 0 auto;
}
#header h1 span {
	font-family: arial;
	font-weight: 700;
	font-size: 40px;
}
#headlogo {
	background: url(../images/headlogo.png) no-repeat;
	width: 166px;
	height: 70px;
	overflow: hidden;
	float: left;
}
#logout {
	width: 90px;
	height: 30px;
	overflow: hidden;
	float: right;
	margin-top: -8px;
	background-color: #363535;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#logout h4 {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
#logout h4 span {
	color: red;
	margin-right: 5px;
	font-size: 17px;
}
#contmenu {
	height: 45px;
	width: 100%;
	padding-right: 16px;
	margin-left: -8px;
	background: url(../images/menu_contbkg.jpg) repeat-x center;
}
#menu {
	background: url(../images/menu_bkg.jpg) repeat-x;
	width: 80%;
	height: 45px;
	margin: auto;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align:center,
}
#menu ul {
	padding-left: 0;
	 text-decoration:none;
}
#menubtns a{
	text-decoration:none;
	color:white;
}
#menubtns li {
	float: left;
	list-style: none;
	color:white;
	height: 45px;
	padding: 0 27px 0 25px;
	margin:0px;
	 text-decoration:none; 
}

#menubtns li:hover {
	background: url(../images/menu_bkghover.jpg) repeat-x top, url(../images/menu_hoverarrow.png) no-repeat center bottom;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-decoration:none;
	color:#333;
}

#menubtns ul {
 display: none;
 position: absolute;
 top: 49px;
 background: #333;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
  text-decoration:none; 
 }
   
#menubtns li {
 color: #fff;
 float: left;
 list-style: none;
 margin: 0% 0%;
 text-decoration:none; 
}
   
#menubtns ul li:hover{
 color: white;
 cursor:pointer;
 background-color:#666;
 background-image: none;
 border-radius:0;
 text-decoration:none; 
}
   
#menubtns ul {
 display: none;
 position: absolute;
 text-decoration:none; 
 top: 135px;
 background: #333;
 color: #fff;
 padding: 0px 0px 0px 0px;
 margin: 0;
 }
   
#menubtns ul li{
 float: left;
 color: #fff;
 width:auto;
 margin:0% 0%;
 text-decoration:none; 
}
  
  
ul#menubtns ul li a{
 color: #fff;
  text-decoration:none; 
}
   
ul#menubtns ul li a:hover{
 color: white;
 cursor:pointer;
 text-decoration:none; 
}
   
ul#menubtns li:hover ul ul,ul#menubtns li:hover ul ul ul,ul#menubtns li.iehover ul ul,ul#menubtns li.iehover ul ul ul {
 display: none;
 cursor:pointer;
  text-decoration:none; 
}
   
ul#menubtns li:hover ul,ul#menubtns ul li:hover ul,ul#menubtns ul ul li:hover ul,ul#menubtns li.iehover ul,ul#menubtns ul li.iehover ul,ul#menubtns ul ul li.iehover ul {
 display: block;
 cursor:pointer;
  text-decoration:none; 
}
#menusocial {
	float: right;
	width: 200px;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
	color:white;
	font-size: 12px;
}
#menusocial #blog, #menusocial #tweet, #menusocial #face {
	float: left;
	width: 18px;
	height: 18px;
	margin: 5px;
}
#menusocial #blog {
	background: url(../images/menu_blog.png) no-repeat;
}
#menusocial #tweet {
	background: url(../images/menu_tweet.png) no-repeat;
}
#menusocial #face {
	background: url(../images/menu_fb.png) no-repeat;
}
#container {
	width: 100%px;
	margin: 35px auto 0 auto;
}
#bodytop {
	height: 90px;
	overflow: visible;
	margin:auto;
	width:830px;
}
#bodytop .btnazul {
	height: 30px;
	float: right;
	margin: 15px 0 15px 0;
}
#zona {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin: 0 40px 20px 0;
	background: #fff url(../images/selectarrow.jpg) no-repeat center right;
	width: 245px;
	border: solid 1px #d6d6d6;
}
#zona select {
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bolder;
	color: #494949;
	width: 100%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: 0;
	box-shadow: none;
	padding: 5px 10px;
}

##clientecont > h4 {
    padding-left: 163px;
}

#clientecont select {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    box-shadow: none;
    color: #494949;
    font-family: arial;
    font-size: 13px;
    font-weight: bolder;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 100%;

     height: 40px;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
    width: 450px;
}


#distancia {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-right:30px;
	background: #fff url(../images/selectarrow.jpg) no-repeat center right;
	width: 200px;
	border: solid 1px #d6d6d6;
}
#distancia select {
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bolder;
	color: #494949;
	width: 100%;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	border: 0;
	box-shadow: none;
	padding: 5px 10px;
}
.puntoA{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #5EC8E3;
	width: 300px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.puntoB{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #78B70B;
	width: 300px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.puntoC{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #FFFF00;
	width: 300px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.puntoD{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #0040FF;
	width: 300px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.direccionB{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #fff ;
	width: 600px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.direccionC{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #fff ;
	width: 600px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.direccionD{
	text-align:center;
	float: left;
	font-family: arial;
	text-transform: uppercase;
	font-size: 13px;
	color: #494949;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin:0;
	background: #fff ;
	width: 600px;
	height:28px;
	border: solid 1px #d6d6d6;
}
.ie7 div.styled {
	border: 0;
}
.ie7 div.styled select {
	width: 100%;
	background-color: #fff;
	border: solid 1px #ccc;
	padding: .3em .5em;
}
.btnazul {
	width: 135px;
	height: 35px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #1f6179;
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 0;
	border: 0;
	margin: 15px 0 0 350px;
	cursor: pointer;
}
.classic img.adp-marker{
	margin-left:10px;
}
.adp-directions{
	width:100%;
}
#clientedisp {
	clear: both;
	float: right;
	color: #494949;
	font-size: 17px;
	display:none;
}
#map_canvas {
	clear: both;
	
	width: 100%;
	height: 335px;
	/*-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #d6d6d6;
	border-width: 1px;
	margin-top: 20px;*/
}
#unidadno {
	width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
	margin-left:200px;
}
#reservaciones {
	width: 950px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
	margin-left:200px;
}

#servicios {
	width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
}
.radius #reservaciones{
	width:15px;
}
#reservaciones h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#reservaciones table {
	margin: 30px auto 0 auto;
	font-size: 17px;
	width: 950px;
}
#reservaciones table td {
	padding-bottom: 20px;
}
.tabtit{
	text-align:right;
}
.radius #unidadno{
	width:15px;
}
#unidadno h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#unidadno table {
	margin: 30px auto 0 auto;
	font-size: 17px;
	width: 700px;
}
#unidadno table td {
	padding-bottom: 20px;
}


#unidad, #chofer, #placa, #celular {
	font-weight: 700;
	
}
#unidad {
	width: 155px;
}

#chofer {
	width: 205px;
}
#placa {
	width: 150px;
}
#celular {
	width: 190px;
}
#tarifas {
	width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
	margin-right: auto; 	
	margin-left: auto;
}
#tarifas h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#tarifas table {
	margin: 30px auto 0 auto;
	font-size: 17px;
}
#tarifas table .radius {
	width: 135px;
}
#tarifas table td {
	padding-bottom: 20px;
	width: 145px;
}

#servicios {
	width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
	 margin-left: auto;
    margin-right: auto;
}
#unidades {
	width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
	margin-right: auto; 	
	margin-left: auto;
}
#unidades h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#unidades table {
	margin: 30px auto 0 auto;
	font-size: 17px;
	width: 90%;
}
#unidades table .radius {
	width: 135px;
}
#unidades table td {
	padding-bottom: 20px;
	width: 145px;
}

#servicios h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#servicios table {
	margin: 30px auto 0 auto;
	font-size: 17px;
}
#servicios table .radius {
	width: 135px;
}
#servicios table td {
	padding-bottom: 20px;
	width: 145px;
}

#cliente {
	width: 850px;
	padding-bottom:10px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	margin-right: auto; 	
	margin-left: auto;
	text-align: center;
}
#clientecont{
	margin-top:20px;
}
#tarifacont{
	margin-top:5px;
}
#cliente h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#cliente table {
	margin: 30px auto 0 auto;
	font-size: 17px;
}
#cliente table .radius {
	width: 10px;
}
#cliente table td {
	padding-bottom: 20px;
	width: 145px;
}
#cliente input{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	border:none;
	-webkit-box-shadow: inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	text-align:center;
	float:right;
	height:25px;
	width:270px;
}

#tarifas input{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	border:none;
	-webkit-box-shadow: inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         inset 1px 1px 1px rgba(50, 50, 50, 0.5);
	text-align:center;
	float:right;
	height:25px;
	width:270px;
}
#tarifas h4{
	font-weight:normal;
	float:left;
	margin:0;
}

#cliente h4{
	font-weight:normal;
	float:left;
	margin:0;
}
#clientenom, #clientedir, #clientedira, #clientetel, #clientecom{
	width:450px;
	overflow:hidden;
	height:40px;
	margin:auto;
	padding-top:10px;
}
#tarifasugerida{
	width:450px;
	overflow:hidden;
	height:40px;
	margin:auto;
	padding-top:10px;
}
#clientecom{
	height:60px;
}
#clientecom input{
	height:50px;
}
#usuarios {
	width: 850px;
	height: 330px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	text-align: center;
}
#usuarios h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#usuarios table {
	margin: 30px auto 0 auto;
	font-size: 17px;
}
#usuarios table .radius {
	width: 10px;
}
#usuarios table td {
	padding-bottom: 20px;
}
.agregar {
	width: 90px;
	height: 30px;
	background-color: #60c060;
	background: -webkit-gradient(linear,left top,left bottom,from( #60c060),to( #52a652));
	background: -webkit-linear-gradient(top, #60c060, #52a652);
	background: -moz-linear-gradient(top, #60c060, #52a652);
	background: -ms-linear-gradient(top, #60c060, #52a652);
	background: -o-linear-gradient(top, #60c060, #52a652);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	float: right;
	font-size: 17px;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
	position: relative;
	bottom: 5px;
	margin-left: 20px;
	padding: 5px 10px 0 0;
	color: #fff;
}
.agregar a {
	text-decoration: none;
}
.min {
	width: 19px;
	height: 18px;
	background: url(../images/form_min.png) no-repeat;
}
.edit {
	width: 19px;
	height: 18px;
	background: url(../images/form_edit.png) no-repeat;
}
.tmin, .tedit {
	width: 25px;
	height: 25px;
}
#unombre, #ucelular, #ucorreo, #udireccion {
	font-weight: bolder;
}
#unombre {
	width: 230px;
}
#ucelular {
	width: 105px;
}
#ucorreo {
	width: 155px;
}
#udireccion {
	width: 215px;
}
#pag {
	margin: 20px auto 0 auto;
	width: 315px;
	height: 60px;
	background: url(../images/pag.png) no-repeat;
}
#usuario{
	position: absolute;
    right: 78px;
    width: 400px;
}
#headtit h1{
	width:500px;
	
}
#panel_ruta h3 {
	background-color: #22a5d5;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 20px 30px 20px 0;
}
#panel_ruta {
    width: 850px;
	overflow: hidden;
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-top: 30px;
	margin-right: auto; 	
	margin-left: auto;
	text-align: center;
}
.sf_admin_filter{
	background: #ebebeb;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
.sf_admin_filter tr, td{
	background:none !important;
	border:solid !important;
}
#sf_admin_container{
	width:970px;
	margin:auto;
}
#sf_admin_container h1{
	text-align: right;
	margin-right:20px;
	background-color: #22a5d5;
	color: #fff;
	margin: 20px 0 0 0;
	padding: 10px 30px 10px 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
#sf_admin_content td, #sf_admin_content tr, #sf_admin_content table, #sf_admin_content th{
	text-align: center;
	vertical-align: middle;
}
#sf_admin_bar{
	float:none !important;
	margin-bottom:20px;
	overflow:hidden !important;
}
#sf_admin_bar table{
	margin:auto !important;
	width:500px !important;
}
table{
	margin:auto;
}
.sf_admin_actions{
	margin-left:20px !important;	
}
#sf_admin_content{
	background: #000;
	background: -moz-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0%, #ebebeb),color-stop(46%, #fff),color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb);
	background: -o-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: -ms-linear-gradient(-45deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	background: linear-gradient(135deg, #ebebeb 0, #fff 46%, #ebebeb 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	padding:20px 0;
}
#sf_admin_content tr, #sf_admin_content td, #sf_admin_content th{
	background:none !important;
	border:none !important;
}
#sf_admin_content table{
	margin-top:10px !important;
}


#Resumen {
	
	width:300px;
	font-size:14px;
	z-index:200;	
	position:fixed;
	background-color:#00A5D7;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	top:225px;
	right: -9px;
	opacity:0.8;
filter:alpha(opacity=10);
}
#nreservaciones{
width: 129px;
background-color: red;
color: white;
font-size: 14px;
z-index: 200;
position: fixed;
border-radius: 20px 20px 20px 20px;
padding: 10px 10px 10px 10px;
top: 145px;
right: -13px;
opacity: 0.8;
}
#aceptadoservicio{
	width:300px;
	background-color:green;
	color:white;
	font-size:14px;
	z-index:204;	
	position:fixed;
	border-radius: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	top:185px;
	right: -9px;
	opacity:0.8;
	clear:both;
}
#nreservaciones a{
	color:white;
	text-decoration:none;
}
#aceptadoservicio a{
	color:white;
	text-decoration:none;
}
#Resumen table{
	color:#00000;
}
#filtro{
	width:825px;
	margin: auto;
}

#consultas{
	width:825px;
	margin: auto;
}
#Resumen h2{
	color:white;
	font-size:12px;
	alignment-adjust:central;
}
#enespera{
	float:left;
	padding:10px 10px 10px 10px;
}
#aprobados{
	float:left;
	padding:10px 10px 10px 10px;
}
#rechazados{
	float:left;
	padding:10px 10px 10px 10px;
}
#total{
	padding:10px 10px 10px 10px;
	float:left;
}
table {border-collapse:collapse; border: none;}
tr{
	border:0;
	margin:0;	
	padding:0;
}
#listapilotos{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding-left:auto;
	padding-right:auto;
	background-color: #e6e6e6;
}
#listapilotos ul{ width: 800px;  margin-left: auto;
    margin-right: auto; padding-top:10px; padding-bottom:10px;}
#listapilotos li{
	list-style:none;
	border: 1px solid #1F6179;
	background-color: #22A5D5;
	border-radius:20px 20px 20px 20px;
	padding-left:20px;
}
#listapilotos li:hover{ background-color: #D6D6D6;  color:black;	}
.icono{  background-image: url("../images/icono-taxi.png");
    background-repeat: no-repeat;
    left: -4px;
    position: relative;
    text-align: center;
    top: 1px;
    vertical-align: middle;
    width: 45px;}
.nombre-unidad{ float: left;
    margin-left: 50px;
    margin-top: 15px;
    width: 400px;}   
#titulo-unidad{
	background-color: #22A5D5;
	margin-top:20px;
	width: 960px;
	height:40px;
	border-radius:20px 20px 0px 0 ;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-15px;
	margin-top: 10px;
	color:#fff;
}  
#titulo-unidad h3{ padding-left:10px; padding-top:10px;}  
#listapilotos a{
	text-decoration:none;
	color:white;
}
#mensajeria{
	background-color: #ccc;	
	border-radius:20px 20px 0px 0 ;
	margin-top:20px;
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}
#contenedor{
	margin-top:45px;
	margin-left:45px;
	margin-bottom:20px; 
}
#preguntas{
	margin-left:10px;
}
#mensajeria h1{
	background-color: #22A5D5;
	border-radius:20px 20px 0px 0 ;
	margin-bottom:-15px;
	margin-top: 10px;
	padding-left:15px;
	height:40px;
	color:#ffffff; 
}

#preguntaview{
	width:600px;
	height:300px;
	color: #000;
	background-color: #fff;
	overflow-y: auto;
}
#respuestaview{
	width:600px;
	height:300px;
	color: #000;
	background-color: #fff;
	overflow-y: auto;
	margin-bottom:30px;
}
#regresar {
    float: right;
    margin-right: 18px;
    text-decoration: none;
}
.sf_admin_filter{
	display:none;
}

#module {
    background-color: #FFFFFF;
    width: 820px;
    border-radius: 5px;
    border: solid 1px #2A3979;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;

}
.title-m {
    background-color: #2A3979;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 0 5px 10px;
    width: 100%;  
}
.row-service {
    background-color: #CCCCCC;
    color:#2a3979;
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;
    min-height: 25px;
    padding: 5px 0 0 9px;
    clear: both;
    float: left;
    width: 100%;
}
.row-service:hover {
	background-color: #07fe1e;
}
.row-service:active {
    background-color: #fff;
}
.row-service:link{
	background-color: #fff;
}
.serEspera{
    background-color: #96e2f8;

}
.serTomado{
    background-color: #ccfbc7;
}
.serSinRespuesta{
    background-color: #f6f5a9;
}
.iconoEspera{
    background-image: url("../images/iconoEspera.png"); no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.iconoTomado{
    background-image: url("../images/iconoTomado.png"); no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;

}
.iconoSinRespuesta{
    background-image: url("../images/iconoSinRespuesta.png"); no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.dina{
	background-color: #f0f9fb;
	clear: both;
	float: left;
    padding: 5px 0 0 9px;
    width: 100%;
    margin-bottom: 2px;
    display:none;
}
.dina2{
	display:block;
}
.dina3{
	display:none;
}
.cerrar{
	float:right;
	margin-right:10px;
	cursor:hand;
}
.iconoReloj{
    background-image: url("../images/reloj.png"); no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 10px;	
    margin-top: 5px;
}
#noti{
	float: right;

}     

#clientescorporativo > table {
    color: black;
    font-size: 15px;
    border: 1px;
}







    
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */

